.navigation a{
    float: right;
    text-align: left;
    margin-right:30px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
}
.navigation .nazev{
    float:left;
    color:white;
    margin-left:30px;
    padding-left: 20px;
}
.navigation{
    font-size:20px;
    background-color:rgba(94, 94, 94, 0.979);
    height: 100px;

}